<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\nlog-internal.log" >

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <variable name="logDirectory" value="${basedir}/logs/"/>

  <targets>

    <target name="TargetDebugView" xsi:type="OutputDebugString"
            layout="${longdate} ${uppercase:${level}} ${stacktrace} ${message:withException=false}"/>

    <target name="TargetFile" xsi:type="File"
              fileName="${logDirectory}/${logger}.txt"
              layout="${longdate} ${uppercase:${level}}: ${exception:format=ToString,StackTrace,method:maxInnerExceptionLevel=5:innerFormat=ToString}"
              archiveFileName="${logDirectory}/archives/log.{#}.zip"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
              enableArchiveFileCompression="true" />

    <target name="elastic" xsi:type="ElasticSearch" uri="http://121.43.147.83:9200/"  index="DevLogging" documentType="Layout">
      <field name="level" layout="${uppercase:${level}}"/>
      <field name="message" layout="${message:withException=false}" />
      <field name="exception" layout="${exception}" />
      <field name="stacktrace" layout="${stacktrace}"/>
      <field name="machinename" layout="${machinename}"/>
      <field name="clientIp" layout="${event-context:item=clientIp}"/>
      <field name="requestUrl" layout="${event-context:item=requestUrl}"/>
      <field name="requestParameter" layout="${event-context:item=requestParameter}"/>
      <field name="requestBody" layout="${event-context:item=requestBody}"/>
    </target>

  </targets>


  <rules>

    <logger name="*" minlevel="Trace" writeTo="TargetDebugView"/>
    <logger name="*" minlevel="Error" writeTo="TargetFile"/>
    <logger name="*" minlevel="Error" writeTo="elastic" />

  </rules>
</nlog>

<!--${iis-site-name}-->